
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Content/js/jquery-3.3.1.js"></script>

    <script type="text/javascript">
        $(function () {
            //$.ajax('/Wx/One')
            //    .done(function (data) {
            //        console.info(data);
            //    })
            //.fail(function (err) {
            //    console.log(err);
            //});

            $.post('/Wx/One', {}, function (data) {
                console.log(data)
            })
        })
    </script>
</head>
<body>
    <div>
        <h1>Succ Access</h1>
    </div>
</body>
</html>
